Backup Workflows/DT_Feed_Animal_v3.json
{
  "name": "DT_Feed_Animal_v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "petshop-feed",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "wh_feed",
      "name": "Webhook",
      "position": [
        272,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "c031254d-3346-4948-b52a-96608802879b",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "animals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        }
      },
      "id": "get_animal",
      "name": "GetAnimal",
      "position": [
        464,
        304
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "YufGuC8BpxsAUy7B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "animals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.id }}"
            }
          ]
        }
      },
      "id": "upd_animal",
      "name": "UpdateAnimal",
      "position": [
        672,
        304
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "YufGuC8BpxsAUy7B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "rsp_feed",
      "name": "RespondToWebhook",
      "position": [
        864,
        304
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "pinData": {},
  "connections": {
    "GetAnimal": {
      "main": [
        [
          {
            "index": 0,
            "node": "UpdateAnimal",
            "type": "main"
          }
        ]
      ]
    },
    "UpdateAnimal": {
      "main": [
        [
          {
            "index": 0,
            "node": "RespondToWebhook",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "GetAnimal",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55887f77-6d28-4335-a986-5695493da6a3",
  "meta": {
    "instanceId": "329cf94cd38a0172a626490345cbe02d094e362f3f0d9133e2b4eaf6f125a0b5"
  },
  "id": "HKiZma0X2pphUaEY",
  "tags": []
}